<div class="welcome">
    <div class="book">
        <div class="content"> 
            <p>Ah? What’s this? What’s a lost, little soul such as yourself trapped on the crossroads between worlds? Do you know where you’re supposed to go? <br>
                <br>
                Earth? No, dear child, the crossroads are a one-way street. Once you are here, you can’t go back to where you came from. This is one of those situations’ you humans like to call as isekai. Typically, you should have awoken in the place you’re meant to be but it seems that a deity mishandled your soul. This is most troubling, indeed. What should we do with you…?
                <br>
                <br>
                Curious about me? Sorry, this must all be confusing to you. I’m simply a will-o-wisp that helps guide those using the crossroads. Without me, even a god can be lost to the void. My normal form isn’t something that humans can fathom but if it helps relieve you, picture me however you want. Be it a small rabbit or another human such as yourself. 
                <br>
                <br>
                Here. Since it’s my job to guide those on the crossroads, let us try to figure out where you must go. My mirrors will help us out. All you need to do is walk through the image you resonate with the most and I’ll handle the rest. 
            </p>
            <button (click)="onEnter()">START</button>
        </div>
        <div class="background-dim">

        </div>
    </div>
</div>